<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>API Documentation</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>

<body id="api-docs" class="container-fluid">
<div id="docz">
    [HEADER]

    <h3>Available functions</h3>
    <p>
        Click on a specific endpoint to see a list of functions contained. Click on a function name to see a list of
        parameters. Use 'Test' button to test API live. As the majority of function will require authentication, you
        may use login form at the bottom of this page to log in. This document was last updated on: [TIMESTAMP].
    </p>

    <a class="toggle-all" href="#">Toggle all</a>

    <ul>
    [LIST_COLLECTIONS]
    </ul>

    [FOOTER]

</div>
<div id="console">
    <form class="login-form container-float form-inline">
        <button class="btn btn-info btn-clear">Clear console</button>
    </form>
    <textarea cols="30"></textarea>
</div>
</body>

<script>
    document.querySelector('.toggle-all').onclick = function()
    {
      document.querySelectorAll('.togglable').forEach(function (item)
      {
        item.style.display = item.style.display === 'block' ? 'none' : 'block';
      });
      return false
    };
    document.querySelectorAll('.toggle-local').forEach(function (item)
    {
      item.onclick = function()
      {
        item.parentNode.parentNode.querySelectorAll('.procedures.togglable').forEach(function (item)
        {
          item.style.display = item.style.display === 'block' ? 'none' : 'block';
        });
        return false
      }
    });
    document.querySelectorAll('.toggle-method').forEach(function (item)
    {
      item.onclick = function()
      {
        item.parentNode.parentNode.querySelectorAll('.api-form.togglable').forEach(function (item)
        {
          item.style.display = item.style.display === 'block' ? 'none' : 'block';
        });
        return false
      }
    });

    function log(text, mode)
    {
        var textarea = document.querySelector('#console textarea');
        mode = mode | 0;
        textarea.value += (new Array(15).join('—')) + ' ' + new Date().toUTCString() + ' ' + (new Array(15).join('—')) + "\n";
        textarea.value += (mode ? text : JSON.stringify(text, null, 2)) + "\n";
        textarea.scrollTop = textarea.scrollHeight;
    }

    function parents(x, className)
    {
      while (x && !x.classList.contains(className))
      {
        if (x === document) break;
        x = x.parentElement;
      }
      return x;
    }

    function call(url, method, params, page)
    {
      var pageStart = 0, pageLength = 25;

      if (typeof page !== "undefined")
      {
        pageStart = page.start;
        pageLength = page.length;
      }

      var r = new XMLHttpRequest();
      r.open('POST', url, true);

      r.onload = function ()
      {
        var r = this.response.toString();
        try
        {
          var json = JSON.parse(r);
        }
        catch (e)
        {
          log(r);
          return;
        }

        if (json.isError) alert('API error: ' + json.errMsg);
        else
        {
          console.log(json);
          log(json.data)
        }
      };

      r.onerror = function (data)
      {
        console.error(data);

        if (data.responseText)
        {
          log(JSON.parse(data.responseText))
        }

        if (data.status === 401) alert('You need to be logged in')
      };

      r.send(JSON.stringify({ method:method, data:params, pageStart:pageStart, pageLength:pageLength}));
    }

    document.querySelectorAll('.api-form button').forEach(function (item)
    {
      item.onclick = function()
      {
        var url = document.location.origin + parents(this, 'api-data-url').dataset.url,
          method = parents(this, 'api-data-method').dataset.method,
          params = {};

        try
        {
          // list parameters
          parents(this, 'api-form').querySelectorAll('tbody tr').forEach(function (item)
          {
            var key = item.querySelector('.name') ? item.querySelector('.name').innerText : '',
                value = item.querySelector('.value') ? item.querySelector('.value').value : '',
                type = item.querySelector('.type') ? item.querySelector('.type').innerText : '';

            if (value === 'null') value = '';

            if (!key || !key.length || !value.length) return;
            try
            {
              params[key] = type === 'array' ? JSON.parse(value) : value;
            }
            catch (e)
            {
              log('Cannot parse JSON from ' + value + ': ' + e);
              throw e;
            }
          });
        }
        catch (e)
        {
          console.log('API call error', e);
          return false;
        }

        var parent = this.parentNode;

        call(url, method, params, { start: parent.querySelector('.page-start').value - 0, length: parent.querySelector('.page-length').value - 0 });

        return false
      }
    });

    document.querySelector('.login-form .btn-clear').onclick = function()
    {
        document.querySelector('#console textarea').value = '';
        return false
    };
</script>

</html>
