<li class="procedure api-data-method" data-method="[NAME]">
    <div class="title">
        <a class="toggle-method" href="#"><span class="name">[NAME]</span></a>
        —
        <span class="description">[DESCRIPTION]</span>
    </div>

    <form class="api-form togglable">
        <table class="parameters [HIDE_FORM]">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            [LIST_VARIABLES]
            </tbody>
        </table>
        <fieldset>
            <legend>Test</legend>
            <table class="pagination">
                <tbody>
                <tr>
                    <td>Page start:</td>
                    <td>
                        <input class="page-start" type="number" value="0">
                    </td>
                    <td>Page length:</td>
                    <td>
                        <input class="page-length" type="number" value="25">
                    </td>
                </tr>
                </tbody>
            </table>
            <button>Run</button>
        </fieldset>

        <fieldset class="api-result [OUTPUT_HIDDEN]">
            <legend>Output fields</legend>
            <pre>[OUTPUT]</pre>
        </fieldset>
    </form>
</li>
