<li class="procedure api-data-method" data-method="[NAME]">
    <div class="title">
        <a class="toggle-method" href="#"><span class="name">[NAME]()</span></a>
        —
        <span class="description">[DESCRIPTION]</span>
    </div>

    <form class="api-form togglable">
        <table class="table table-bordered parameters [HIDE_FORM]">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Value</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            [LIST_VARIABLES]
            </tbody>
        </table>
        <table class="table pagination">
            <tbody>
            <tr>
                <td>Page start:</td>
                <td>
                    <input class="form-control value page-start" type="text" value="0">
                </td>
                <td>Page length:</td>
                <td>
                    <input class="form-control value page-length" type="text" value="25">
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-default">Test</button>
        <div class="api-result [OUTPUT_HIDDEN]">
            <hr>
            Output fields: <br><br>
            <pre>[OUTPUT]</pre>
        </div>
    </form>
</li>
